<% provide(:title, "Home") %>

	
<%= image_tag "profile-pic.jpg", class:"img-responsive" %>

<div class="row">
	<div class="col-xs-6">
		<p>Profesor de inglés con experiencia, con la titulación (<span title="¿Cuál es el CELTA ?"><a href="http://www.cambridgeenglish.org/es/exams-and-qualifications/celta/">CELTA</a></span>).  Hablo inglés nativo de Inglaterra y vivo en Pamplona desde octubre.
		</p>
		<p>Dime qué es lo que quieres mejorar, y prepararé la mejor clase según tus necesidades. Trabajaremos mucho la expresión oral y la corrección de los errores, profundizando en lo que necesites a cada momento.
		</p>
		<p>
		Pienso que es muy importante estar relajado durante las clases, por lo que las realizo de forma amena, al ritmo que necesites.
		</p>
	</div>
	<div class="col-xs-6">
		<p>
		También realizo la preparación específica para <span title="Exámenes de Cambridge"><a href="http://www.cambridgeenglish.org/es/exams-and-qualifications/">exámenes de Cambridge</a></span> o de Escuelas Oficiales. Prácticamente todas mis lecciones las he realizado con adultos.
		</p>
		<p>
		No hablo un español muy fluido, por lo que te agradecería que contactases conmigo por escrito, mediante Whatsapp <a class="phone_number">+447789564331</a>, email o facebook, tanto en inglés como en castellano.
		</p>
	</div>
</div>

	<div class="row icon-row">
		<div class="col-xs-6">
		  <a href="mailto:andrew_stelmach@hotmail.com"><span title="Hacer una consulta", class="icon-email"></span></a>
		</div>
		<div class="col-xs-6">
		  <a href="http://facebook.com/andrew.stelmach"><span title="Facebook", class="icon-facebook"></span></a>
		</div>
	</div>
