<div class="row">
	
	<%= image_tag "profile-pic.jpg", class:"img-responsive col-md-5" %>

	<div class="col-md-7">
		<p class="lead">Profesor de inglés con experiencia, con la titulación (CELTA).  Hablo inglés nativo de Inglaterra y vivo en Pamplona desde octubre.
		</p>
		<p class="lead">Dime qué es lo que quieres mejorar, y prepararé la mejor clase según tus necesidades. Trabajaremos mucho la expresión oral y la corrección de los errores, profundizando en lo que necesites a cada momento.
		</p>
		<p class="lead">
		Pienso que es muy importante estar relajado durante las clases, por lo que las realizo de forma amena, al ritmo que necesites.
		</p>
		<p class="lead">
		También realizo la preparación específica para exámenes de Cambridge o de Escuelas Oficiales. Prácticamente todas mis lecciones las he realizado con adultos.
		</p>
		<p class="lead">
		No hablo un español muy fluido, por lo que te agradecería que contactases conmigo por escrito, mediante Whatsapp <a class="phone_number">+447789564331</a>, email o facebook, tanto en inglés como en castellano.
		</p>

		<hr>

		<div class="row icon-row">
			<div class="col-xs-6">
			  <a href="mailto:andrew_stelmach@hotmail.com"><span class="icon-email"></span></a>
			</div>
			<div class="col-xs-6">
			  <a href="http://facebook.com/andrew.stelmach"><span class="icon-facebook"></span></a>
			</div>
		</div>

		<hr>

	</div>
</div>

