<% provide(:title, "Home") %>

<div class="homepage-wrapper">
	
	<div class="container">
  	
  	<%= image_tag "logo.svg" %>

  	<hr>

  	<div>
  		<h3>Learn English from an experienced and CELTA qualified teacher, native to England and living in Pamplona since September 2014</h3>
  	</div>
  
  	<hr>

  	<div class="row">
  		<div class="span six">
  			<%= image_tag "S2.jpg" %>
  		</div>
  		<div class="span six">
  			<%= image_tag "profile-pic.jpg" %>
  		</div>
  	</div>

  	<div class="row">
  		<div class="span six">
  			<h4>About</h4>
  			<!-- <p>Profesor de inglés con experiencia, con la titulación (<span title="¿Cuál es el CELTA ?"><a href="http://www.cambridgeenglish.org/es/exams-and-qualifications/celta/">CELTA</a></span>).  Hablo inglés nativo de Inglaterra y vivo en Pamplona desde octubre.</p> -->

				<p>Dime qué es lo que quieres mejorar, y prepararé la mejor clase según tus necesidades. Trabajaremos mucho la expresión oral y la corrección de los errores, profundizando en lo que necesites a cada momento.</p>

				<p>Pienso que es muy importante estar relajado durante las clases, por lo que las realizo de forma amena, al ritmo que necesites.</p>
  		</div>
  		
			<div class="span six">
  			<h4>Contact</h4>	
  			<p>También realizo la preparación específica para <span title="Exámenes de Cambridge"><a href="http://www.cambridgeenglish.org/es/exams-and-qualifications/">exámenes de Cambridge</a></span> o de Escuelas Oficiales. Prácticamente todas mis lecciones las he realizado con adultos.</p>

				<p>No hablo un español muy fluido, por lo que te agradecería que contactases conmigo por escrito, mediante Whatsapp +447789564331, email o facebook, tanto en inglés como en castellano.</p>
			</div>

		</div>

		<hr>

		<div class="testimonials"></div>

		<hr>

		<div class="footer">
			<p class="pull-left">©2015 Andrew Stelmach</p>
			<p class="pull-right">Website Developed by Andrew Stelmach, Logo & Design by <a href="http://creativebinge.co.uk" title="portfolio">Richard Stelmach</a></p>
		</div>


  </div>

</div>
