/* Richard's original colour */
// $brand-primary: 		#FF2C28;

/* Colours I derived from Richard's original colours */
// $brand-primary-darker: 	#B71816;
// $brand-primary-lighter:	#FF403D;

/*Gradient: top #de3030,  to bottom #cb1717

Body text fonts: arial
Text size:

main headline: 36px, 65px line-height, regular

sub headings (eg: about us): 24px, bold

body: 16px, 28px line-height*/


/******************************************************************
		FONT IMPORTS
*******************************************************************/

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);





/******************************************************************
		SASS VARIABLE DECLARATIONS
*******************************************************************/

$brand-primary:	#E95151;

$off-white: #fcfcfc;
$text-colour: #FEF2F2;
$dark-grey: #191919;
$main-font-set:	Arial, sans-serif;




/******************************************************************
		
						GLOBAL STYLING

*******************************************************************/


/* GLOBAL CONTAINING DIVS */

html {
	overflow-y: scroll;
	height: 100%; // footer fix for small screens
}

body {
	font-size: 100%;
	height: 100%; // footer fix for small screens
}

.main-wrapper {
	// background: linear-gradient(#de3030, #cb1717);
	// background: 		linear-gradient($brand-primary, $brand-primary-lighter);
	background: 		$brand-primary;
	padding-top: 		1px;		// top gap fix for reviews view
	min-height: 		100%;		// footer fix for small screens
	padding-bottom:	1px;	// stops bottom collapse
	position: 			relative;		// footer fix for small screens
}

.main-wrapper > .container {
	max-width: 768px;
	padding-left: 3.5%;
	padding-right: 3.5%;
	padding-bottom: 1em;	// use this to control gap above footer
	margin: auto;
	height: 100%;
}





/******************************************************************
		IMAGES
*******************************************************************/

img {
	max-width: 100%;
}





/******************************************************************
		BUTTONS
*******************************************************************/

@mixin btn {
	display: inline-block;
  color: $text-colour;
  padding: 0.357142857em 1.071428571em;
  border: solid $text-colour 0.178571429em;
  font-size: 0.875em;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  transition-property: background, color;
  transition-duration: 0.1s;
	  &:hover {
			transition-duration: 0.15s;
		  background: $text-colour;
		  color: $brand-primary;
		  text-decoration: none;
		}
}

@mixin btn-small {
	font-size: 0.75em;
	padding: 0.25em 1.083333333em;
		&:hover {
			color: $brand-primary;
		}
}

.btn {
	@include btn;
}

.btn-small {
	@include btn;
	@include btn-small;
}





/******************************************************************
		FORMS
*******************************************************************/

textarea {
	width: 100%;
	height: 10em;
}

input[type=submit] {
	background: none;
	@include btn;
}





/******************************************************************
		TEXT
*******************************************************************/

p, h1, h2, h3, h4, h5, a, th, td {
	color: $text-colour;
	font-family: $main-font-set;
	line-height: 1.8em;
}

p {
	margin-bottom: 1.5em;
}
p:last-child {
	margin-bottom: 0;
}

h3 {
	font-size: 1.8em;
}

h4 {
	font-weight: bold;
	font-size: 1.5em;
	letter-spacing:	0.6px;
	margin: 0;
}

h5 {
	font-weight: bold;
	font-size: 1.2em;
	margin: 0;
}





/******************************************************************
		ANCHOR ELEMENTS
*******************************************************************/

a {
	color: $text-colour;
	text-decoration: underline;
	transition-property: color;
	transition-duration: 0.2s;
	&:hover {
		color: darken($text-colour, 10%);
		transition-duration: 0.2s;
	}
}





/******************************************************************
		HEADER
*******************************************************************/

.header-wrapper {
	position: relative;
	border-bottom: 1px solid $text-colour;
		header {
			max-width: 475px;
			padding-top: 0;
			margin-bottom: 6em;
				#login-div {
						position: absolute;
						bottom: 0.2em;
						right: 0;
						.icon-logout, .icon-login {
							&:before {
								position: relative;
								top: 0.166666667em;
								left: 5px;
								font-size: 1.1em;
							}
						}
				}
		}
}





/******************************************************************
		LOGO
*******************************************************************/

#logo {
	width: 100%;	// to maintain svg aspect ratio across browsers	
}





/**************************************************************************** 						
							
							HOMEPAGE STYLING

*****************************************************************************/

.main-wrapper > .container {

	.contact-details {	// replaces the bottom icons on bigger screens
		display: none
	}





	#headline-div {
		padding: 1.5em 0 3em 0;
		border-bottom: 1px solid $text-colour;
			h3 {
				font-size: 1.3em;
				font-weight: normal;
			}
	}
	




	.image-row {
		margin-top:	2em;
			img {
				margin-top: 1em;
				border-radius: 5px;
			}

			img:nth-child(2) {
				margin-top: 1em;
			}
	}





	.content-row {
		margin-top: 1em;
		margin-bottom: 3em;
			p {
				margin-top: 0;
			}
	}





	#testimonials-wrapper {
		margin-top: -0.75em;
		margin-bottom: 2.5em;
		// background-color: $brand-primary-complementary-green-dark;
		// background-color: #151E1E;
		// background-color: #231B1E;
		// background-color: #1F1F1F;

			.testimonial-wrapper {
				border: 2px solid $text-colour;
				border-radius: 5px;
				padding: 0 7px 0.5em 7px;
				margin: 1em 0;
				&:nth-child(2) {	// first testimonial-wrapper
					margin-top: 0.5em;
				}
			}
			
			.icon-quotes-left {
				margin-right: 2%;
				position: relative;
				top: 0.06em;
				font-size: 1em;
			}
			.icon-quotes-right {
				margin-left: 2%;
				position: relative;
				top: 0.05em;
				font-size: 1em;
			}

			.testimonial-content {
				padding: 0.1em 0;
				border-radius: 8px;
				p {								// testimonial content
					margin: 0;
					margin-top: 0;
					color: $text-colour;
					line-height: 1.65em;
				}
			}

			h5 {
				// margin-top: 1em;
				span:before {		// Student Icon
					position: relative;
					top: 0.1875em;
					margin-right: 2%;
					font-size: 1.1em;
				}
			}

			// h5:nth-child(2) {		// first testimonial header
			// 	margin-top: 0.1em;
			// }

			a {
				font-size: 0.8em;
				text-decoration: none;
					&:before {
						font-size: 0.8em;
						margin-right: 3px;
					}
			}
	}

	.testimonial-button-wrapper {
		text-align: center;
	}





	#contact-div {
		margin-top: 1.5em;
		p:nth-child(2) {
			margin-bottom: 3.3em;
		}
	}





	/* contact details on bigger screens */
	.contact-details {
		margin-bottom: 4em;
		span {
			font-size: 2em;
			position: relative;
			top: 10px;
			margin-right: 5px;
		}
		a:first-child {			// only the icon anchor elements, not the writing
			text-decoration: none;
		}
	}
}





.whatsapp-p-element, .whatsapp-bottom-p-element {
		text-align: center;
		font-size: 1em;
}

.whatsapp-p-element {
	display: none;
}
.icon-row:nth-child(4) {
	display: none;
}





.icon-row {
	position: relative;
	bottom: 25px;
	text-align: center;
	font-size: 7.4em;
		a {
			text-decoration: none;
			display: inline-block;
		}
		a:first-child {						// email icon anchor element
			margin-left: auto;
			margin-right: auto;
		}
		a:last-child {						// facebook icon anchor element
			margin-right: auto;
			margin-left: auto;
		}
}





/******************************************************************
		FOOTER
*******************************************************************/

.footer {
	position: absolute;
	width: 90%;
	max-width: 768px;
	bottom: 1em;
	margin: auto;
	border-top: 1px solid $text-colour;
	padding-top: 0.5em;					
	text-align: right;
	p {
		padding: 0;
		margin: 0;
		font-size: 0.6em;
		display: inline-block;
		&:first-child {
			float: left;
			position: relative;
			top: 2px;
		}
		&:nth-child(2) {
			margin-left: 2%;
		}
		&:last-child {
			margin-left: 2%;
		}
	}
}