@font-face {
	font-family: 'icomoon';
	src:font-url('icomoon.eot?g70dwh');
	src:font-url('icomoon.eot?#iefixg70dwh') format('embedded-opentype'),
		font-url('icomoon.woff?g70dwh') format('woff'),
		font-url('icomoon.ttf?g70dwh') format('truetype'),
		font-url('icomoon.svg?g70dwh#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
	content: "\e905";
}

.icon-user:before {
	content: "\e971";
}

.icon-quotes-left:before {
	content: "\e977";
}

.icon-quotes-right:before {
	content: "\e978";
}

.icon-delete:before {
	content: "\e9ac";
}

.icon-login:before {
	content: "\ea13";
}

.icon-logout:before {
	content: "\ea14";
}

.icon-email:before {
	content: "\ea86";
}

.icon-facebook:before {
	content: "\ea8e";
}

.icon-student:before {
	content: "\e600";
}
