/* Homepage Media Queries (inner-container) */
.homepage-wrapper > .container {
	
	@media only screen and (min-width: 435px) {
		#headline-div {
			h3 {
				font-size: 1.6em;
			}
		}
	}


	@media only screen and (min-width: 649px) {
		#whatsapp-p-element {
			text-align: left;
		}

		.icon-row {
			display: none;
		}

		.contact-details {
			display: block;
		}

		.image-row {
			img {
				display: inline-block;
				width: 49%;
				margin: 0%;
				&:first-child {
					margin-right: 1%;
				}
				&:nth-child(2) {
					margin-left: 1%;
				}
			}

			img:last-child {
				display: block;
				width: 100%;
				margin-top: 1.477%;
			}
		}

		.content-row {
			margin-bottom: 4em;

			br {
				display: none;
			}

			#contact-div, #about-div {
				display: inline-block;
				width: 48%;
				vertical-align: top;
			}

			#contact-div {
				margin-left: 2.5%;
			}
		}
	}
}