/* Homepage Media Queries (inner-container) */
.main-wrapper > .container {
	
	@media only screen and (min-width: 346px) {
		.footer {
			bottom: 0.6em;
		}
	}

	@media only screen and (min-width: 435px) {
		#headline-div {
			h3 {
				font-size: 1.6em;
			}
		}
	}


	@media only screen and (min-width: 649px) {
		.icon-row, .whatsapp-bottom-p-element {
			display: none;
		}

		.image-row {
			img {
				display: inline-block;
				width: 49%;
				margin: 0%;
				&:first-child {
					margin-right: 1%;
				}
				&:nth-child(2) {
					margin-left: 1%;
				}
			}

			img:last-child {
				display: block;
				width: 100%;
				margin-top: 1.477%;
			}
		}

		.content-row {
			margin-bottom: 4em;

			br {
				display: none;
			}

			#contact-div, #about-div {
				display: inline-block;
				width: 48%;
				vertical-align: top;
			}

			.contact-details {
				p {
					margin-bottom: 1em;
					// display: inline-block;
					// &:nth-child(2) {
					// margin-left: 2%;	
					// }
				}
			}

			#contact-div {
				margin-top: 0;
				margin-left: 2.5%;
				.whatsapp-p-element {
					display: block;
					margin-top: 2.5em;
					margin-bottom: 1em;
					text-align: left;
				}
			}
		}

		.contact-details {
			display: block;
		}

		#testimonials-wrapper {
			margin-top: 2em;
		}
	}
}