/* Homepage Media Queries (inner-container) */
.homepage-wrapper > .container {
	
	@media only screen and (min-width: 435px) {
		#headline-div {
			h3 {
				font-size: 1.6em;
			}
		}
	}


	@media only screen and (min-width: 649px) {
		#whatsapp-p-element {
			text-align: left;
		}

		.icon-row {
			display: none;
		}

		.contact-details {
			display: block;
		}

		.image-row {
			text-align: center;
			img {
				display: inline-block;
				width: 48%;
				margin: 0 0.5% 0 1%;
			}
		}

		.content-row {
			margin-bottom: 4em;

			br {
				display: none;
			}

			#contact-div, #about-div {
				display: inline-block;
				width: 48%;
				vertical-align: top;
			}

			#contact-div {
				margin-left: 3%;
			}
		}
	}
}