$off-white:	#fcfcfc;

#new-testimonial-wrapper {
	margin: auto;

		#login-div {
			display: none;
		}
		
		.header-wrapper {
			border-bottom:	none;
				header {
					padding-top: 	0;
					margin-bottom:	4em;
				}
		}

		h1 {
			font-size: 		1.5em;
			margin-bottom: 	0.3em;
		}

		textarea {
			margin-bottom:	0.9em;
			background: 	$off-white;
		}

		input[type=submit] {
			margin-bottom: 	0.6em;
		}

}
