$off-white:	#fcfcfc;

#new-user-wrapper {

		#login-div {
			display: none;
		}
		
		.header-wrapper {
			border-bottom:	none;
				header {
					padding-top: 	0;
					margin-bottom:	3em;
				}
		}

		h1 {
			font-size: 		1.5em;
			margin-bottom: 	0.5em;
		}

		.field {
			color: white;
			margin-bottom: 0.7em;
			input {
				color: black;
				margin-top: 0.06em;
			}
		}

		.field:nth-child(6) {
			margin-bottom:	1.6em;
		}

		input[type=submit] {
			margin-bottom: 	0.6em;
		}

		.footer {			// Footer fix - bit hacky. Need to refactor html sometime
			position: static;
			margin: 3em 0 0 0;
			width: 100%;
		}
}

