<div id="new-testimonial-wrapper">
	
	<div class="header-wrapper">
		<%= render('layouts/header') %>
	</div>
	
	<h1>Nueva Opinión:</h1>

	<%= render 'form' %>

	<%= link_to 'Atrás', root_path, class:"btn btn-small" %>

	<%= render ('layouts/footer') %>
	
</div>

