<div class="footer">
	<p>©2015 Andrew Stelmach</p>
	<p>Website Developed by <a href="https://github.com/Yorkshireman">Andrew Stelmach</a>, Logo & Design by <a href="http://creativebinge.co.uk" title="portfolio">Richard Stelmach</a></p>
</div>